.item-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 59%;
    position: absolute;
    top: 0;
    left: 0;
}

.price {
    text-align: right;
    margin-right: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-item {
    background-color: white;
    margin: 5px;
    padding-top: 59%;
    height: 10vh;
    position: relative;
    font-size: 2vmin;
}

.name {
    position: relative;
    top: 10%;
}

.quantity-btn {
    font-size: 1.75vmin;
    color: gray;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 50%;
    width: 15%;
    aspect-ratio: 1;
    position: absolute;
    bottom: 2px;
    left: 25%
}

.add {
    left: 5%;
}