.order-item {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    border-top: 1px solid gray;
    padding: 10px;
    margin: 0;
}

.order-item-quantity {
    place-self: center;
}

.order-item-quantity-input {
    min-width: 0;
}

.order-item-name {
    grid-column-start: 3;
    grid-column-end: 7;
    place-self: center;
    padding: 5px;
}

.order-item-price {
    font-size: 2.23vmin;
    place-self: center;
}

.order-item-edit, .order-item-delete {
    width: 65%;
    place-self: center;
}

.order-item-edit {
    background-color: #ddddff;
    border: 1px solid gray;
    border-radius: 4px;
}

.order-item-edit:hover {
    background-color: #ccccef;
}

.order-item-delete {
    background-color: #ed3a2e;
    border: 1px solid #771d17;
    color: white;
    border-radius: 4px;
}