body {
  background-color: #ffe9b6;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.order {
  box-sizing: border-box;
  position: sticky;
  background-color: white;
  align-self: stretch;
  width: 100%;
  height: 100vh;
  padding-top: 10px;
  border: 1px solid gray;
}

.total {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border-top: 1px solid gray;
  font-size: x-large;
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.total-text {
  text-align: left;
}

.total-price {
  text-align: right;
}