body {
  background-color: #ffe9b6;
}

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.categories {
  background-color: white;
  display: flex;
}

.categories > button {
  flex-grow: 1;
  border: none;
  color: #1f1512;
  border-top: 1px solid #7c542b;
  border-bottom: 1px solid #bb8343;
  border-left: 1px solid #bb8343;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f2c685;
}

.categories > button.active {
  border-bottom: none;
  background-color: #ffe9b6;
}

.categories > button.unactive:hover {
  background-color: #e6a85c;
}

.order-manager {
  display: grid;
  grid-template-columns: repeat(10,1fr);
}

.display-menu {
  grid-column-start: 1;
  grid-column-end: 8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.order {
  position: relative;
  background-color: white;
  align-self: stretch;
  width: 100%;
  height: 90vh;
  margin: 5px;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 6;
}

.total {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border-top: 1px solid gray;
  font-size: x-large;
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.total-text {
  text-align: left;
}

.total-price {
  text-align: right;
}

.loader {
  align-self: stretch;
  box-sizing: border-box;
  border: 5px solid #e6a85c;
  border-top: 5px solid #bb8343;
  border-radius: 50%;
  height: 10vh;
  aspect-ratio: 1;
  margin-top: 35vh;
  margin-left: 40vw;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg) };
  100% { transform: rotate(360deg) };
}